<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>com.apple.developer.associated-domains</key>
	<array>
		<string>webcredentials:pro-2222691137476152292.frontendapi.corbado.io</string>
		<string>webcredentials:api.turnkey.com</string>
		<string>applinks:c16d93dc6a65.ngrok.app/</string>
	</array>
</dict>
</plist>
